@model IEnumerable<Domain.InventaireVehicule>
@using Service
@{

    IInventaireVehiculeService kk = new InventaireVehiculeService();
    IInventaireService InB = new InventaireService();

}


<div class="row">
    <!-- Start Panel -->
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-title">
                Liste des Inventaires Vehicules
                <ul class="panel-tools">
                    <li><a class="icon minimise-tool"><i class="fa fa-minus"></i></a></li>
                    <li><a class="icon expand-tool"><i class="fa fa-expand"></i></a></li>
                    <li><a class="icon closed-tool"><i class="fa fa-times"></i></a></li>
                </ul>
            </div>
            <div class="panel-body table-responsive">
                <div style="text-align:center;"><a href="~/Export/ExportInventaireVehicule"><span class="icon color7"><i class="fa fa-file-excel-o"></i></span>&nbsp; &nbsp;  Export Vers Fichier Excel</a></div> 
                <table id="example0" class="table display">
                    <thead>
                        <tr>
                            <th>Nom Inventaire</th>
                            <th>Date Inventaire</th>
                            <th>Matricule Véhicule</th>
                            <th>Num  châssis Véhicule</th>



                        </tr>
                    </thead>

                  
                    <tbody>
                        @foreach (var item in Model)
                        {

                            <tr>
                                @{

                                    var cod = InB.GetInvById(@item.Id_inventaire);
                                }
                                <td class="center">@cod.Nom_</td>
                                <td class="center">@cod.Date</td>

                                @{ 
                                    
                                    var code = kk.GetVehiculeByID(@item.Id_Vehicule);
                                }
                                <td class="center">@code.Matricule</td>
                                <td class="center">@code.Num_chassis</td>
                             



                            </tr>
                                    }


                    </tbody>


                </table>
                <br /><p>
                    @Html.ActionLink("Affecter des Véhicule à un inventaire", "GetInventaire", "Inventaire")
                </p>

            </div>
        </div>

    </div>


</div>