@model Domain.ServiceD
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-title">
                Modifiction service
            </div>
            <div class="panel-body">



                <div class="panel panel-default">


                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()

                        <div class="form-horizontal">
                            <h4>Service</h4>
                            <hr />
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            @Html.HiddenFor(model => model.Id_service)

                            @Html.HiddenFor(model => model.Id_direction)

                            <div class="form-group">
                                <label class="control-label col-lg-4" style="font-style:oblique;">Nom service </label>
                                <div class="col-lg-6">

                                    @Html.EditorFor(model => model.Libelle, new { @class = "form-control", required = "" })
                                    @Html.ValidationMessageFor(model => model.Libelle, String.Empty, new { @class = "test" })
                                </div>
                            </div>



                            <div class="form-group">
                                <label class="control-label col-lg-4" style="font-style:oblique;">Direction </label>
                                <div class="col-lg-6">
                                    @Html.TextBoxFor(model => model.Direction.Libelle, new { @class = "form-control", required = "", disabled = "disabled" })
                                    @*@Html.DropDownListFor(model => model.idPays, (SelectList)ViewData["pays"], new { @class = "form-control", required = "" })*@
                                </div>
                            </div>

                        </div>
                        <div style="text-align: center;">
                            <input type="submit" value="Valider" class="btn btn-default" />

                            <button type="reset" class="btn btn-white">@Html.ActionLink("Annuler", "GetServiceD")</button>

                        </div>

                    }


                </div>

                <div>
                    @Html.ActionLink("Liste des services", "GetServiceD")
                </div>

            </div>
        </div>
    </div>
</div>