@model IEnumerable<Domain.ServiceD>

@{
    ViewBag.Title = "GetServiceD";
}

<h2>Liste des services</h2>


<!-- Start Row -->
<div class="row">
    <!-- Start Panel -->
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-title">
                <ul class="panel-tools">
                    <li><a class="icon minimise-tool"><i class="fa fa-minus"></i></a></li>
                    <li><a class="icon expand-tool"><i class="fa fa-expand"></i></a></li>
                    <li><a class="icon closed-tool"><i class="fa fa-times"></i></a></li>
                </ul>
            </div>
            <div class="panel-body table-responsive">
                <div style="text-align:center;"><a href="~/Export/ExportServiceD"><span class="icon color7"><i class="fa fa-file-excel-o"></i></span>&nbsp; &nbsp;  Export Vers Fichier Excel</a></div> 
                <table id="example0" class="table display">
                    <thead>
                        <tr>
                            <th>Code Service</th>
                            <th>Nom Service</th>
                            <th>Direction</th>
@if (@Session["Role"].ToString() == "ADMIN")
{
                            <th>Action</th>
}
                        </tr>
                    </thead>


                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td class="center">@item.Id_service</td>
                                <td class="center">@item.Libelle</td>
                                <td class="center">@item.Direction.Libelle</td> 


                                <td>
@if (@Session["Role"].ToString() == "ADMIN")
{
                                    <a href="@Url.Action("EditServiceD", new { id = item.Id_service })">&nbsp;<i class="fa fa-edit" title="Modifer"></i></a>
}    </td>

                            </tr>


                        }
                    </tbody>
                </table>
                <br /><p>
@if (@Session["Role"].ToString() == "ADMIN")
{
                    @Html.ActionLink("Ajouter un nouveau service", "CreateServiceD")
}
                </p>

            </div>
        </div>
    </div>


</div>





<script>
    $(document).tooltip();
</script>