@model IEnumerable<Domain.CategorieDesignation>

<h2>Liste des categories Designation</h2>


<!-- Start Row -->
<div class="row">
    <!-- Start Panel -->
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-title">

            </div>
            <div class="panel-body table-responsive">
                <table id="example0" class="table display">
                    <thead>
                        <tr>

                            <th>Id</th>
                            <th>Designation</th>
                            <th>Categorie</th>
                            <th>Action</th>
                        </tr>
                    </thead>

                    <tfoot>
                        <tr>

                            <th>Id</th>
                            <th>Designation</th>
                            <th>Categorie</th>
                            <th>Action</th>

                        </tr>
                    </tfoot>

                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>

                                <td class="center">@item.id_categorie_Designation</td>
                                <td class="center">@item.libelle </td>
                                <td class="center">@item.Categorie_materiel.libelle </td>


                                <td>
                                    @if (@Session["Role"].ToString() == "ADMIN")
                                    {

                                        <a href="@Url.Action("EditCategorie_Designation", new { id = item.id_categorie_Designation })">&nbsp;<i class="fa fa-edit" title="Modifer"></i></a>
                                    }
                                </td>

                            </tr>


                        }
                    </tbody>
                </table>
                <br /><p>
                    @if (@Session["Role"].ToString() == "ADMIN")
                    {
                        @Html.ActionLink("Ajouter une nouvelle Categorie Designation", "CreateCategorie_Designation")
                    }
                </p>

            </div>
        </div>
    </div>


</div>
