@model Domain.Bureau
<link type="text/css" href="../../Content/Site.css" rel="stylesheet" />

@{


    List<string> listBatiment = new List<string>();
    List<string> listetage = new List<string>();
}
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>
<script language="javascript" type="text/javascript">
    function GetCity(_stateId) {
        var procemessage = "<option value='0'>Encours...</option>";
        $("#ddlcity").html(procemessage).show();
        var url = "/Admin/GetEtageByBatiment/";

        $.ajax({
            url: url,
            data: { stateid: _stateId },
            cache: false,
            type: "POST",
            success: function (data) {
                var markup = "<option value='0'>--Choisir--</option>";
                for (var x = 0; x < data.length; x++) {
                    markup += "<option value=" + data[x].Value + ">" + data[x].Text + "</option>";
                }
                $("#ddlcity").html(markup).show();
            },
            error: function (reponse) {
                alert("error : " + reponse);
            }
        });

    }



    function GetBat() {
        var selectElmt = document.getElementById("tt");
        var url = "/Admin/GenerateCA/";

        $.ajax({
            url: url,
            data: {},
            cache: false,
            type: "POST",
            success: function (data) {


                selectElmt.value = data


            },
            error: function (reponse) {
                alert("error : " + reponse);
            }
        });

    }

</script>

<script language="javascript" type="text/javascript">
    function GetBatT(_delegId) {

        var url = "/Admin/OpenPopup/";

        $.ajax({
            url: url,
            data: { delegid: _delegId },
            cache: false,
            type: "POST",
            success: function (data) {

                if (data != "") {
                    alert(data)
                }


            },
            error: function (reponse) {
                alert("error : " + reponse);
            }
        });

    }
</script>


<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-title">
               Bureau
            </div>
            <div class="panel-body">

               

                <div class="panel panel-default">




                @using (@Html.BeginForm("CreateBureaux", "Admin", FormMethod.Post,
new { @id = "frmId", @class = "fieldset-form" }))
                {

                    <div class="form-horizontal">
                        <h4> Ajout de Bureau</h4>
                        <hr />
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        
                        <div class="form-group">
                            <label class="control-label col-lg-4" >Code à Barres </label>
                            <div class="col col-md-4">

                                @Html.TextBoxFor(model => model.Code_a_barre, new { @id = "tt", @class = "form-control", required = "", @readonly = "readonly" })
                                @Html.ValidationMessageFor(model => model.Code_a_barre, "", new { @class = "text-danger" })

                            </div>
                            <div class="col col-md-4">

                                <input type="button" value="Générer Code A barres" onclick="GetBat()" class="btn btn-option5" />

                            </div>
         
                          
                        </div>
                      
                        <div class="form-group">
                            <label class="control-label col-lg-4">Code bureau </label>
                            <div class="col col-md-4">
                                @Html.EditorFor(model => model.id, new { htmlAttributes = new { @id = "btnpopu", @class = "form-control", @onchange = "javascript:GetBatT(this.value)" } })
                                @Html.ValidationMessageFor(model => model.id, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-lg-4">Description </label>
                            <div class="col-lg-6">
                                @Html.EditorFor(model => model.Description, new { @class = "form-control", required = "" })
                                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-lg-4">Batiment</label>
                            <div class="col-lg-6">
                                @Html.DropDownListFor(m => m.idBatiment, (SelectList)ViewData["batiments"], "--Choisir--", new { @id = "ddlstate", @class = "form-control", required = "True", @onchange = "javascript:GetCity(this.value);" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-lg-4">Étage</label>
                            <div class="col-lg-6">
                                @Html.DropDownListFor(m => m.Id_etage, (SelectList)ViewData["etages"], "--Choisir--", new { @id = "ddlcity", @class = "form-control", required = "True" })
                            </div>
                        </div>
                      

                       

                       


                       
                    </div>
                            <div style="text-align: center;">
                                <input type="submit" value="Valider" class="btn btn-default" />

                                <button type="reset" class="btn btn-white">Annuler</button>

                            </div>
                           
                    }


                </div>

                <div>
                    @Html.ActionLink("Liste Bureaux", "GetBureuax")
                </div>

            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Enregistrement Avec Succée </h4>
            </div>
            <div class="modal-body">
                <p>Voulez Vous Ajouter un Autre ?<p>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-default">Oui</button>
                <button type="button" class="btn btn-white" data-dismiss="modal" onClick="document.location='~/Admin/GetBureuax'">Non</button>

            </div>
        </div>
    </div>
</div>


