@model Domain.Bien

@{


    List<string> listProduit = new List<string>();
    List<string> listModele = new List<string>();
}
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>
<script language="javascript" type="text/javascript">
    function GetCity(_stateId) {
        var procemessage = "<option value='0'>EnCours....</option>";
        $("#ddlcity").html(procemessage).show();
        var url = "/Gestion/GetProduitByCAt/";

        $.ajax({
            url: url,
            data: { stateid: _stateId },
            cache: false,
            type: "POST",
            success: function (data) {
                var markup = "<option value='0'>--Choisir--</option>";
                for (var x = 0; x < data.length; x++) {
                    markup += "<option value=" + data[x].Text + ">" + data[x].Text + "</option>";
                }
                $("#ddlcity").html(markup).show();
            },
            error: function (reponse) {
                alert("error : " + reponse);
            }
        });

    }
</script>
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-title">
                Ajout Produit
            </div>
            <div class="panel-body">



                <div class="panel panel-default">




                    @using (@Html.BeginForm("CreateBien", "Admin", FormMethod.Post,
new { @id = "frmId", @class = "fieldset-form" }))
                    {

                        <div class="form-horizontal">
                            <h4>Nouvelle Reception</h4>
                            <hr />
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })


                          

                               
                                <div class="form-group">
                                    <label class="control-label col-lg-4" style="font-style:oblique;">Contrat d'Achat</label>
                                    <div class="col-lg-6">
                                        @Html.DropDownListFor(model => model.Id_achat, (SelectList)ViewData["achats"], "--Choisir--", new { @class = "form-control", required = "" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-lg-4" style="font-style:oblique;">Societe d'assurance</label>
                                    <div class="col-lg-6">
                                        @Html.DropDownListFor(model => model.Id_societe_assurance, (SelectList)ViewData["societeass"], "--Choisir--", new { @class = "form-control", required = "" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-lg-4" style="font-style:oblique;">Societe de maintenance</label>
                                    <div class="col-lg-6">
                                        @Html.DropDownListFor(model => model.Id_societe_maintenance, (SelectList)ViewData["societemain"], "--Choisir--", new { @class = "form-control", required = "" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-lg-4" style="font-style:oblique;">Contrat d'assurance</label>
                                    <div class="col-lg-6">
                                        @Html.DropDownListFor(model => model.Id_contrat_assurance, (SelectList)ViewData["contratass"], "--Choisir--", new { @class = "form-control", required = "" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-lg-4" style="font-style:oblique;">Contrat de Maintennace</label>
                                    <div class="col-lg-6">
                                        @Html.DropDownListFor(model => model.Id_contrat_maintenance, (SelectList)ViewData["contratmain"], "--Choisir--", new { @class = "form-control", required = "" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-lg-4" style="font-style:oblique;">Contrat de Garantie</label>
                                    <div class="col-lg-6">
                                        @Html.DropDownListFor(model => model.Id_contrat_garanti, (SelectList)ViewData["contratgar"], "--Choisir--", new { @class = "form-control", required = "" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-lg-4" style="font-style:oblique;">Categorie </label>
                                    <div class="col-lg-6">
                                        @Html.DropDownListFor(m => m.Id_categorie, (SelectList)ViewData["categorie"], "--Choisir--", new { @id = "ddlstate", @class = "form-control", required = "True", @onchange = "javascript:GetCity(this.value);" })
                                      
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-lg-4" style="font-style:oblique;">Produit </label>
                                    <div class="col-lg-6">
                                        @Html.DropDownListFor(m => m.Designation, new SelectList(listProduit), "--Choisir--", new { @id = "ddlcity", @class = "form-control", required = "True" })
                                    </div>
                                </div>


                                <div class="form-group">
                                    <label class="control-label col-lg-4" style="font-style:oblique;">Modéle </label>
                                    <div class="col-lg-6">
                                        @Html.DropDownListFor(m => m.Modele, new SelectList(listModele), "--Choisir--", new { @id = "ddlcity", @class = "form-control", required = "True" })
                                    </div>
                                </div>



                                </div>

                                <div class="form-group">
                                    <label class="control-label col-lg-4" style="font-style:oblique;">Emplacement</label>
                                    <div class="col-lg-6">
                                        @Html.DropDownListFor(model => model.IdDepot, (SelectList)ViewData["Depot"], "--Choisir--", new { @class = "form-control", required = "" })




                                    </div>
                                </div>



                          
                            <fieldset>

                                <legend> Description de Biens</legend>

                                <div class="form-group">
                                    <CENTER>
                                        <TABLE border=0 width=100%>
                                            <TR>
                                                <TD width=33%>
                                                    <label class="col-sm-4 control-label form-label">Code à barre</label>

                                                    <div class="col-sm-8">
                                                        @Html.EditorFor(model => model.Code_a_barre, new { @class = "form-control", required = "" })
                                                        @Html.ValidationMessageFor(model => model.Code_a_barre, String.Empty, new { @class = "test" })
                                                    </div>
                                                </TD>

                                                <TD >
                                                    <label class="col-sm-4 control-label form-label"> N° de série</label>

                                                    <div class="col-sm-8">

                                                        @Html.EditorFor(model => model.Num_Serie, new { @class = "form-control", required = "" })
                                                        @Html.ValidationMessageFor(model => model.Num_Serie, String.Empty, new { @class = "test" })
                                                    </div>
                                                </TD>

                                                <TD width=33%>
                                                    <label class="col-sm-4 control-label form-label"> Désignation</label>
                                                  
                                                    <div class="col-sm-8">
                                                        @Html.EditorFor(model => model.Designation, new { @class = "form-control", required = "" })
                                                        @Html.ValidationMessageFor(model => model.Designation, String.Empty, new { @class = "test" })
                                                        @*<select class="selectpicker">
                                                            <option>Table</option>
                                                            <option>Chaise</option>
                                                            <option>Pc</option>
                                                            <option>Imprimante</option>
                                                            <option>Clavier</option>
                                                        </select>*@
                                                    </div>
                                                </TD>
                                            </TR>
                                        </TABLE>
                                    </CENTER>
                                </div>

                                <div class="form-group">
                                    <CENTER>
                                        <TABLE width=100%>
                                            <TR>
                                                <TD width=34%>
                                                    <label class="col-sm-4 control-label form-label">Quantité</label>

                                                    <div class="col-sm-8">
                                                        @Html.EditorFor(model => model.Code, new { @class = "form-control", required = "" })
                                                        @Html.ValidationMessageFor(model => model.Code, String.Empty, new { @class = "test" })

                                                    </div>
                                                </TD>
                                               
                                                <TD width=34%>
                                                    <label class="col-sm-4 control-label form-label">Marque</label>

                                                    <div class="col-sm-8">

                                                      @Html.EditorFor(model => model.Marque, new { @class = "form-control", required = "" })
                                                    @Html.ValidationMessageFor(model => model.Marque, String.Empty, new { @class = "test" })
                                                    </div>
                                                </TD>
                                                <TD width=33%>
                                                    <label class="col-sm-4 control-label form-label">État</label>

                                                    <div class="col-sm-8">
                                                        @Html.EditorFor(model => model.Etat, new { @class = "form-control", required = "" })
                                                        @Html.ValidationMessageFor(model => model.Etat, String.Empty, new { @class = "test" })
                                                        <select class="selectpicker">
                                                            <option>Bon</option>
                                                            <option>Mouvais</option>
                                                            <option>Moyenne</option>
                                                            <option>Trés Bien</option>
                                                            <option>Activeden</option>
                                                        </select>
                                                    </div>
                                                </TD>
                                            </TR>

                                        </TABLE>
                                    </CENTER>
                                </div>


                                <div class="form-group">
                                    <CENTER>
                                        <TABLE border=0 width=100%>
                                            <TR>
                                                <TD width=33%>
                                                    <label class="col-sm-4 control-label form-label"> Modéle</label>

                                                    <div class="col-sm-8">
                                                       @Html.EditorFor(model => model.Modele, new { @class = "form-control", required = "" })
                                                    @Html.ValidationMessageFor(model => model.Modele, String.Empty, new { @class = "test" })
                                                    </div>
                                                </TD>
                                                <TD width=34%>
                                                    <label class="col-sm-4 control-label form-label">Catégorie</label>

                                                    <div class="col-sm-8">

                                                        @Html.EditorFor(model => model.Id_categorie, new { @class = "form-control", required = "" })
                                                        @Html.ValidationMessageFor(model => model.Id_categorie, String.Empty, new { @class = "test" })
                                                        @*<select class="selectpicker">
                                                            <option>Informatique</option>
                                                            <option>Bureautique</option>
                                                            <option>éléchtroménager</option>
                                                            <option>Hi-Tech</option>
                                                            <option>Téléphonie</option>
                                                        </select>*@
                                                    </div>
                                                </TD>
                                                <TD width=33%>
                                                    <label class="col-sm-4 control-label form-label">Mode</label>

                                                    <div class="col-sm-8">
                                                        @Html.EditorFor(model => model.Mode, new { @class = "form-control", required = "" })
                                                        @Html.ValidationMessageFor(model => model.Mode, String.Empty, new { @class = "test" })
                                                        <select class="selectpicker">
                                                            <option>En Service</option>
                                                            <option>Hors-Service</option>
                                                            <option>En Panne</option>
                                                            <option>Volé</option>
                                                            <option>Détruit</option>
                                                            <option>Vendu</option>
                                                            <option>Loué</option>
                                                            <option>Prêté</option>
                                                        </select>
                                                    </div>
                                                </TD>

                                            </TR>

                                        </TABLE>
                                    </CENTER>

                            </fieldset>

                            <br>

                            <fieldset>

                                <legend>Localisation</legend>

                                <div class="form-group">
                                    <CENTER>
                                        <TABLE width=80%>
                                            <TR>
                                                <TD width=40%>
                                                    <label class="col-sm-4 control-label form-label"> Ville</label>

                                                    <div class="col-sm-8">
                                                        @Html.DropDownListFor(m => m.idDelegation, (SelectList)ViewData["Delegation"], "--Choisir--", new { @id = "ddlstate", @class = "form-control", required = "True", @onchange = "javascript:GetCity(this.value);" })
                                                    </div>
                                                </TD>
                                                <TD width=40%>
                                                    <label class="col-sm-4 control-label form-label">Batiment</label>

                                                    <div class="col-sm-8">

                                                        <div class="col-sm-8">

                                                            @Html.DropDownListFor(m => m.idBatiment, (SelectList)ViewData["Batiment"], "--Choisir--", new { @id = "ddlstate", @class = "form-control", required = "True", @onchange = "javascript:GetCity(this.value);" })
                                                        </div>
                                                    </div>
                                                </TD>

                                            </TR>

                                        </TABLE>
                                    </CENTER>
                                </div>

                                <div class="form-group">
                                    <CENTER>
                                        <TABLE width=80%>
                                            <TR>
                                                <TD width=40%>
                                                    <label class="col-sm-4 control-label form-label"> Étage</label>

                                                    <div class="col-sm-8">
                                                        @Html.DropDownListFor(m => m.Id_etage, (SelectList)ViewData["Etage"], "--Choisir--", new { @id = "ddlstate", @class = "form-control", required = "True", @onchange = "javascript:GetCity(this.value);" })
                                                      
                                                    </div>
                                                </TD>
                                                <TD width=40%>
                                                    <label class="col-sm-4 control-label form-label">Bureau</label>

                                                    <div class="col-sm-8">

                                                        <div class="col-sm-8">

                                                            @Html.DropDownListFor(m => m.id_bureau, (SelectList)ViewData["Bureau"], "--Choisir--", new { @id = "ddlstate", @class = "form-control", required = "True", @onchange = "javascript:GetCity(this.value);" })
                                                        </div>
                                                    </div>
                                                </TD>

                                            </TR>

                                        </TABLE>
                                    </CENTER>

                            </fieldset>
                            <br>
                            <fieldset>

                                <legend>Information Supplémentaire</legend>


                                <div class="form-group">
                                    <CENTER>
                                        <TABLE width=100%>
                                            <TR>
                                                <TD>
                                                    <label class="col-sm-4 control-label form-label"> Description (Signet particuliére permetant d'identifier le bien)</label>

                                                    <div class="col-sm-8">


                                                        @Html.EditorFor(model => model.Description, new { @class = "form-control", required = "" })
                                                        @Html.ValidationMessageFor(model => model.Description, String.Empty, new { @class = "test" })

                                                    </div>
                                                </TD>

                                            </TR>

                                        </TABLE>
                                    </CENTER>
                                </div>

                                <div class="form-group">
                                    <CENTER>
                                        <TABLE width=100%>
                                            <TR>
                                                <TD>
                                                    <label class="col-sm-4 control-label form-label">Détail</label>

                                                    <div class="col-sm-8">

                                                        @Html.EditorFor(model => model.Detail, new { @class = "form-control", required = "" })
                                                        @Html.ValidationMessageFor(model => model.Detail, String.Empty, new { @class = "test" })
                                                    </div>
                                                </TD>


                                            </TR>

                                        </TABLE>
                                    </CENTER>
                                </div>
                            </fieldset>	
                            <br />
                       
                       
                        <br />                            <br />

                            <div style="text-align: center;">
                                <input type="submit" value="Valider" class="btn btn-default" />

                                <button type="reset" class="btn btn-white">@Html.ActionLink("Annuler", "RapportBien")</button>

                            </div>

                    }


                </div>

            <p>
                @Html.ActionLink("Liste Des Biens", "RapportBien")
            </p>

            </div>
        </div>
    </div>
</div>


