@model Domain.Bureau
<link type="text/css" href="../../Content/Site.css" rel="stylesheet" />
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-title">
                Modifiation de Bureau
            </div>
            <div class="panel-body">



                <div class="panel panel-default">




                    @using (@Html.BeginForm("EditBureaux", "Admin", FormMethod.Post,
new { @id = "frmId", @class = "fieldset-form" }))
                    {

                        <div class="form-horizontal">
                            <h4>Bureau</h4>
                            <hr />
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                          
                            @Html.HiddenFor(model => model.Id_etage)
                            @Html.HiddenFor(model => model.idBatiment)
                            @Html.HiddenFor(model => model.Id_bureau)
                            @*@Html.HiddenFor(model => model.idGouvernorat)
                            @Html.HiddenFor(model => model.idOrganisation)
                            @Html.HiddenFor(model => model.idRegion)
                            @Html.HiddenFor(model => model.idDelegation)*@
                            @*@Html.HiddenFor(model => model.idPays)*@
                            @Html.HiddenFor(model => model.Id_service)
                            @Html.HiddenFor(model => model.id)
                            <div class="form-group">
                                <label class="control-label col-lg-4" style="font-style:oblique;">Code à barre </label>
                                <div class="col-lg-6">
                                    @Html.TextBoxFor(model => model.Code_a_barre, new { @class = "form-control", required = "", @readonly = "readonly" })
                                    @Html.ValidationMessageFor(model => model.Code_a_barre, String.Empty, new { @class = "test" })
       
                               
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-lg-4" style="font-style:oblique;">Code bureau </label>
                                <div class="col-lg-6">

                                    @Html.EditorFor(model => model.id, new { @class = "form-control", @readonly = "readonly" })
                                    @Html.ValidationMessageFor(model => model.id, String.Empty, new { @class = "test" })
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-lg-4" style="font-style:oblique;">Description </label>
                                <div class="col-lg-6">
                                    @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                                </div>
                            </div>



                            <div class="form-group">
                                <label class="control-label col-lg-4">Batiment</label>
                                <div class="col-lg-6">
                                    @Html.TextBoxFor(model => model.Etage.Batiment.description, new { @class = "form-control", disabled = "disabled" })
                                </div>
                            </div>
                            @*<div class="form-group">
                                <label class="control-label col-lg-4">Ville</label>
                                <div class="col-lg-6">
                                    @Html.DropDownListFor(model => model.Id_direction, (SelectList)ViewData["direction"], "--Choisir--", new { @class = "form-control", required = "" })
                                </div>
                            </div>*@
                            <div class="form-group">
                                <label class="control-label col-lg-4">Étage</label>
                                <div class="col-lg-6">
                                    @Html.TextBoxFor(model => model.Etage.description, new { @class = "form-control", disabled = "disabled" })
                                </div>
                            </div>

                        </div>
                        <div style="text-align: center;">
                            <input type="submit" value="Valider" class="btn btn-default" />

                            <button type="reset" class="btn btn-white">@Html.ActionLink("Annuler", "GetBureuax")</button>

                        </div>

                    }


                </div>

                <div>
                    @Html.ActionLink("Retour à la liste des bureaux", "GetBureuax")
                </div>

            </div>
        </div>
    </div>
</div>



