@model IEnumerable<Domain.Utilisateur>


<div class="inner">
    <!-- Start Row -->
    <div class="row">
        <!-- Start Panel -->
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-title">
                    Liste des Utlisateurs

                </div>
                <div class="panel-body table-responsive">
                    <table id="example0" class="table display">
                        <thead>
                            <tr>
                               
                                <th>Login</th>

                                <th>Password</th>
                                <th>Nom</th>

                                <th>Prenom</th>
                                <th>Matricule</th>
                                <th>Etat</th>
                                <th>Role</th>
                                <th>Action</th>
                            </tr>
                        </thead>

                        

                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>

                                   
                                    <td class="center">@item.login</td>
                                    <td class="center">@item.motDePasse</td>
                                    <td class="center">@item.Personnel.Matricule</td>

                                    <td class="center">@item.Personnel.Matricule</td>
                                    <td class="center">@item.Personnel.prenom</td>
                                    <td class="center">@item.etatUtilisateur</td>
                                    <td class="center">@item.Personnel.Role.libelle</td>

                                    <td>
@if (@Session["Role"].ToString() == "ADMIN")
{
                                        <a href="@Url.Action("EditUser", new { id = item.id_user })">&nbsp;<i class="fa fa-edit" title="Modifer"></i></a>

}

                                    </td>

                                </tr>

                              



                            }
                        </tbody>
                    </table>
                    <br /><p>
@if (@Session["Role"].ToString() == "ADMIN")
{
                        @Html.ActionLink("Ajouter un nouveau User", "CreateUsers")
}
                    </p>

                </div>
            </div>
        </div>


    </div>
</div>
