@model IEnumerable<Domain.Bien>

<div class="row">
    <!-- Start Panel -->
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-title">
                Liste des Biens
            </div>
            @using (Html.BeginForm("RapportBien", "Admin", FormMethod.Get))
                    {



                //nesggfff

                <div class="form-horizontal">


                    <style>
                        select {
                            height: 30px;
                            width: 220px;
                        }
                    </style>
                    <div style="margin-left:50px;">
                        <table>          
                        
                        
                        Delegation :      @Html.DropDownList("delegation", (SelectList)ViewData["delegation"], "",
                     ViewBag.CurrentFilter as string)&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp;

                   

                            Batiment:     @Html.DropDownList("batiment", (SelectList)ViewData["batiment"], "",
                      ViewBag.CurrentFilter as string)&nbsp;&nbsp; &nbsp;&nbsp;
                            &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp;

                     Etage :      @Html.DropDownList("etage", (SelectList)ViewData["etage"], "",
                     ViewBag.CurrentFilter as string)

                    








                        </table><br /><br />
                        <center>
                            <div class="form-actions no-color">
                                <input type="submit" value="Ok" class="btn btn-default" />

                            </div>
                        </center>

                    </div>
                    <br /><br />
                </div>
            }
            <div class="panel panel-default">
                <div class="panel-body table-responsive">
                    <table id="example0" class="table display">
                        <thead>
                            <tr>
                                <th>Designation </th>
                                <th>Description</th>
                                <th>Code</th>
                                <th>Mode</th>
                                <th>Etat</th>
                                
                                <th>Categorie </th>
                                <th>Sous categorie</th>
                                <th>Modéle</th>
                                <th>Sous modéle</th>
                                <th>Marque</th>
                              
                                <th>Batiment </th>
                                <th>Etage</th>
                                <th>Region</th>
                                <th>Ville </th>
                               
                                
                               
@if (@Session["Role"].ToString() == "ADMIN")
{
                                <th>Action</th>
}

                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr class="odd gradeX">

                                    <td>@item.Designation</td>
                                    <td>@item.Description</td>
                                    <td>@item.Code</td>
                                    <td>@item.Mode</td>
                                    <td>@item.Etat</td>
                                    <td>@item.Categorie.libelle</td>
                                    <td>@item.Sous_categorie</td>
                                    <td>@item.Modele</td>
                                    <td>@item.Sous_Modele</td>
                                    <td>@item.Marque</td>
                                    <td>@item.Etage.Batiment.description</td>
                                    <td>@item.Etage.description</td>
                                    <td>@item.Etage.Batiment.Delegation.libelle</td>
                                    <td>@item.Etage.Batiment.Delegation.Gouvernorat.Region.libelle</td>
                                 
                                   
                                  

                                    <td>
@if (@Session["Role"].ToString() == "ADMIN")
{
                                        <a href="@Url.Action("DetailsBien", new { id = item.Id_bien })">&nbsp;&nbsp;<i class="fa fa-folder-open" title="Details"></i></a>
}
                                      </td>

                                </tr>





                            }
                        </tbody>
                    </table>

                    <br /><p>





                    </p>
                    <br /><p>
@if (@Session["Role"].ToString() == "ADMIN")
{
                        @Html.ActionLink("Ajouter un nouveau Bien", "CreateBien")
}
                    </p>
                     
                </div>
            </div>
        </div>


    </div>
</div>
<script>
    $(document).tooltip();
</script>