@model IEnumerable<Domain.Contrat>

    <!-- Start Row -->
    <div class="row">
        <!-- Start Panel -->
        <div class="col-md-12">
            <div class="panel panel-default">
                

                <div class="panel-title">

                     Liste des contrats

                  

                    <ul class="panel-tools">
                        <li><a class="icon minimise-tool"><i class="fa fa-minus"></i></a></li>
                        <li><a class="icon expand-tool"><i class="fa fa-expand"></i></a></li>
                        <li><a class="icon closed-tool"><i class="fa fa-times"></i></a></li>
                    </ul>
                </div>
                <hr />
                <div class="panel-body table-responsive">
                    <div style="text-align:center;"><a href="~/Export/ExportContrat"><span class="icon color7"><i class="fa fa-file-excel-o"></i></span>&nbsp; &nbsp;  Export Vers Fichier Excel</a></div> 
                    <table id="example0" class="table display">
                        <thead>
                            <tr>
                                <th>Code à barres</th>
                              
                                <th>Société</th>
                                <th>Type contrat</th>
                                <th>Sous Type contrat</th>
                                <th>Date Debut</th>
                                <th>Date Fin</th>
                                <th>Coût</th>
@if (@Session["Role"].ToString() == "ADMIN")
{
                                <th>Action</th>
}
                            </tr>
                        </thead>

                      

                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>

                                    <td class="center">@item.code_a_barre</td>
                                    <td class="center">@item.Fournisseur.Nom  </td>
                                    <td class="center">@item.Type_Contrat</td>
                                    <td class="center">@item.Sous_Type_Contrat</td>

                                    <td class="center">@item.Date_debut</td>
                                    <td class="center">@item.Date_fin</td>
                                    <td class="center">@item.Cout</td>


                                    <td>
               @if (@Session["Role"].ToString() == "ADMIN")

               {
                   <a href="@Url.Action("EditContrat", new { id = item.Id_contrat })">&nbsp;<i class="fa fa-edit" title="Modifer"></i></a>
                    

                               }     </td>

                                </tr>


                            }
                        </tbody>
                    </table>
                    <br /><p>
@if (@Session["Role"].ToString() == "ADMIN")
{
                        @Html.ActionLink("Ajouter un nouveau Contrat", "CreateContrat")
}
                    </p>

                </div>



            </div>



        </div>
    </div>

    <script>
    $(document).tooltip();
    </script>



