@model Domain.Sous_categorie
<script language="javascript" type="text/javascript">
 function GetBatT(_delegId) {

     var url = "/Categorie/OpenPopupSousCategorie/";

        $.ajax({
            url: url,
            data: { delegid: _delegId },
            cache: false,
            type: "POST",
            success: function (data) {

                if (data != "") {
                    alert(data)
                }


            },
            error: function (reponse) {
                alert("error : " + reponse);
            }
        });

    }
</script>
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-title">
                Ajout Sous categorie 
            </div>
            <div class="panel-body">



                <div class="panel panel-default">


                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()

                        <div class="form-horizontal">
                            <h4>Sous Categorie</h4>
                            <hr />
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                            <div class="form-group">
                                <label class="control-label col-lg-4">Desigantion  </label>
                                <div class="col-lg-6">
                                    @Html.EditorFor(model => model.libelle, new { htmlAttributes = new { @id = "btnpopu", @class = "form-control", @onchange = "javascript:GetBatT(this.value)" } })
                                    @Html.ValidationMessageFor(model => model.libelle, String.Empty, new { @class = "test" })
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-lg-4">Categorie  </label>
                                <div class="col-lg-6">
                                    @Html.DropDownListFor(m => m.Id_categorie, (SelectList)ViewData["categorie"], "--Choisir--", new { @id = "ddlstate", @class = "form-control", required = "True", @onchange = "javascript:GetCity(this.value);" })


                                </div>
                            </div>

                            <div style="text-align: center;">
                                <input type="submit" value="Create" class="btn btn-default" />
                                <button type="reset" class="btn btn-white">@Html.ActionLink("Annuler", "getSousCategorie")</button>
                            </div>
                         
                        </div>
                    }


                </div>

                <div>
                    @Html.ActionLink("Afficher la liste des sous categories", "getSousCategorie")
                  
                </div>

            </div>
        </div>
    </div>
</div>