@model Domain.Categorie
<link type="text/css" href="../../Content/Site.css" rel="stylesheet" />
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>


<script language="javascript" type="text/javascript">
 function GetBatT(_delegId) {

     var url = "/Categorie/OpenPopupCategorie/";

        $.ajax({
            url: url,
            data: { delegid: _delegId },
            cache: false,
            type: "POST",
            success: function (data) {

                if (data != "") {
                    alert(data)
                }


            },
            error: function (reponse) {
                alert("error : " + reponse);
            }
        });

    }
</script>
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-title">
                Ajout de categorie materiel
            </div>
            <div class="panel-body">



                <div class="panel panel-default">

                    @using (@Html.BeginForm("createCategorie", "Categorie", FormMethod.Post,
new { @id = "frmId", @class = "fieldset-form" }))
                    {

                        <div class="form-horizontal">

                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                            <div class="form-group">
                                <label class="control-label col-lg-4">Nom categorie  </label>
                                <div class="col-lg-6">
                                    @Html.EditorFor(model => model.libelle, new { htmlAttributes = new { @id = "btnpopu", @class = "form-control", @onchange = "javascript:GetBatT(this.value)" } })
                                    @Html.ValidationMessageFor(model => model.libelle, String.Empty, new { @class = "test" })
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-lg-4">Description  </label>
                                <div class="col-lg-6">
                                    @Html.TextBoxFor(model => model.Description, new { @class = "form-control", required = "" })
                                    @Html.ValidationMessageFor(model => model.Description, String.Empty, new { @class = "test" })
                                </div>
                            </div>

                        </div>
                        <div style="text-align: center;">
                            <input type="submit" value="Valider" class="btn btn-default" />

                            <button type="reset" class="btn btn-white">Annuler</button>

                        </div>

                    }


                </div>

                <div>
                    @Html.ActionLink("Afficher la liste des categories ", "getCategorie")
                </div>

            </div>
        </div>
    </div>
</div>