@model Domain.Marque

@{


    List<string> listSousCategorie = new List<string>();
    List<string> listModele = new List<string>();
    List<string> listSousModele = new List<string>();
}
<link type="text/css" href="../../Content/Site.css" rel="stylesheet" />
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>

<script language="javascript" type="text/javascript">
    function GetCity(_stateId) {
        var procemessage = "<option value='0'>Encours...</option>";
        $("#ddlcity").html(procemessage).show();
        var url = "/Categorie/getSousCategorieByCategorie/";

        $.ajax({
            url: url,
            data: { stateid: _stateId },
            cache: false,
            type: "POST",
            success: function (data) {
                var markup = "<option value='0'>--Choisir--</option>";
                for (var x = 0; x < data.length; x++) {
                    markup += "<option value=" + data[x].Value + ">" + data[x].Text + "</option>";
                }
                $("#ddlcity").html(markup).show();
            },
            error: function (reponse) {
                alert("error : " + reponse);
            }
        });

    }
</script>

<script language="javascript" type="text/javascript">
    function getModele(_stateId) {
        var procemessage = "<option value='0'>Encours...</option>";
        $("#ddlmodele").html(procemessage).show();
        var url = "/Categorie/getModeleBySousCategorie/";

        $.ajax({
            url: url,
            data: { stateid: _stateId },
            cache: false,
            type: "POST",
            success: function (data) {
                var markup = "<option value='0'>--Choisir--</option>";
                for (var x = 0; x < data.length; x++) {
                    markup += "<option value=" + data[x].Value + ">" + data[x].Text + "</option>";
                }
                $("#ddlmodele").html(markup).show();
            },
            error: function (reponse) {
                alert("error : " + reponse);
            }
        });

    }
</script>

<script language="javascript" type="text/javascript">
    function getSousModele(_stateId) {
        var procemessage = "<option value='0'>Encours...</option>";
        $("#ddlSousmodele").html(procemessage).show();
        var url = "/Categorie/getSousModeleByModele/";

        $.ajax({
            url: url,
            data: { stateid: _stateId },
            cache: false,
            type: "POST",
            success: function (data) {
                var markup = "<option value='0'>--Choisir--</option>";
                for (var x = 0; x < data.length; x++) {
                    markup += "<option value=" + data[x].Value + ">" + data[x].Text + "</option>";
                }
                $("#ddlSousmodele").html(markup).show();
            },
            error: function (reponse) {
                alert("error : " + reponse);
            }
        });

    }
</script>


<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-title">
                Ajout Marque
            </div>
            <div class="panel-body">



                <div class="panel panel-default">

                      @using (Html.BeginForm())

                       {
                        @Html.AntiForgeryToken()

                        <div class="form-horizontal">
                            <h4>Marque</h4>
                            <hr />
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })


                            <div class="form-group">
                                <label class="control-label col-lg-4">Categorie  </label>
                                <div class="col-lg-6">
                                    @Html.DropDownListFor(m => m.Id_categorie, (SelectList)ViewData["categorie"], "--Choisir--", new { @id = "ddlstate", @class = "form-control", required = "True", @onchange = "javascript:GetCity(this.value);" })


                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-lg-4">Sous Categorie </label>
                                <div class="col-lg-6">
                                    @Html.DropDownListFor(m => m.id_sous_categorie, new SelectList(listSousCategorie), "--Choisir--", new { @id = "ddlcity", @class = "form-control", required = "True", @onchange = "javascript:getModele(this.value);" })

                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-lg-4">Modele  </label>
                                <div class="col-lg-6">
                                    @Html.DropDownListFor(m => m.IdModele, new SelectList(listModele), "--Choisir--", new { @id = "ddlmodele", @class = "form-control", required = "True", @onchange = "javascript:getSousModele(this.value);" })

                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-lg-4">Sous Modele  </label>
                                <div class="col-lg-6">
                                    @Html.DropDownListFor(m => m.Id_sous_Modele, new SelectList(listSousModele), "--Choisir--", new { @id = "ddlSousmodele", @class = "form-control", required = "True" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-lg-4">Marque </label>
                                <div class="col-lg-6">
                                    @Html.TextBoxFor(m => m.Libelle, new { @class = "form-control", required = "" })
                                    @Html.ValidationMessageFor(m => m.Libelle, String.Empty, new { @class = "test" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-lg-4">Description </label>
                                <div class="col-lg-6">
                                    @Html.TextBoxFor(m => m.Description, new { @class = "form-control", required = "" })
                                    @Html.ValidationMessageFor(m => m.Description, String.Empty, new { @class = "test" })
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    <input type="submit" value="Create" class="btn btn-default" />
                                </div>
                            </div>
                        </div>
                    }

                </div>

                <div>
                    @Html.ActionLink("Afficher la liste des Sous  Modeles", "getSousModele")
                </div>

            </div>
        </div>
    </div>
</div>