@model IEnumerable<Domain.Marque>

<h2>Liste des marques</h2>


<!-- Start Row -->
<div class="row">
    <!-- Start Panel -->
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-title">

            </div>
            <div class="panel-body table-responsive">
                <table id="example0" class="table display">
                    <thead>
                        <tr>

                            <th>Categorie</th>
                            <th>Sous catégorie</th>
                            <th>Modele</th>
                            <th>Sous modele</th>
                            <th>Libelle </th>
                            <th>Description </th>
                            <th>Action</th>
                        </tr>
                    </thead>



                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>

                                <td class="center">@item.Sous_modele.Modele.Sous_categorie.Categorie.libelle </td>
                                <td class="center">@item.Sous_modele.Modele.Sous_categorie.libelle </td>

                                <td class="center">@item.Sous_modele.Modele.libelle </td>
                                <td class="center">@item.Sous_modele.Libelle </td>
                                <td class="center">@item.Libelle</td>
                                <td class="center">@item.Description </td>

                                <td>
                                    @if (@Session["Role"].ToString() == "ADMIN")
                                    {

                                        <a href="@Url.Action("EditMarque", new { id = item.IdMarque})">&nbsp;<i class="fa fa-edit" title="Modifer"></i></a>
                                    }
                                </td>

                            </tr>


                        }
                    </tbody>
                </table>
                <br /><p>
                    @if (@Session["Role"].ToString() == "ADMIN")
                    {
                        @Html.ActionLink("Ajouter une nouvelle Marque", "createMarque")
                    }
                </p>

            </div>
        </div>
    </div>


</div>
