@model Domain.Vehicule
<div class="row">
<div class="col-md-12">
    <div class="panel panel-default">
        <div class="panel-title">
            Ajout Véhicule
        </div>
        <div class="panel-body">



            <div class="panel panel-default">




                @using (@Html.BeginForm("CreateVehicule", "Gestion", FormMethod.Post,
new { @id = "frmId", @class = "fieldset-form" }))
                {

                    <div class="form-horizontal">
                        <h4>Véhicule</h4>
                        <hr />
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })


                        <div class="form-group">
                            <label class="control-label col-lg-4" style="font-style:oblique;">Matricule</label>
                            <div class="col-lg-6">

                                @Html.TextBoxFor(model => model.Matricule, new { @class = "form-control", required = "True" })

                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-lg-4" style="font-style:oblique;">Modéle </label>
                            <div class="col-lg-6">

                                @Html.TextBoxFor(model => model.Modele, new { @class = "form-control", required = "True" })

                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-lg-4" style="font-style:oblique;">Etat </label>
                            <div class="col-lg-6">

                                @Html.TextBoxFor(model => model.Etat , new { @class = "form-control", required = "True" })

                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-lg-4" style="font-style:oblique;"> Num sachet </label>
                            <div class="col-lg-6">

                                @Html.TextBoxFor(model => model.Num_sachet, new { @class = "form-control", required = "True" })

                            </div>
                        </div>
                       

                        <div class="form-group">
                            <label class="control-label col-lg-4" style="font-style:oblique;">Parc </label>
                            <div class="col-lg-6">

                                @Html.DropDownListFor(model => model.Id_parc, (SelectList)ViewData["parc"], "--Choisir--", new { @class = "form-control", required = "" })


                            </div>
                        </div>



                        <div class="form-group">
                            <label class="control-label col-lg-4" style="font-style:oblique;">Contrat garanti </label>
                            <div class="col-lg-6">

                                @Html.DropDownListFor(model => model.Id_contrat_garanti, (SelectList)ViewData["garanti"], "--Choisir--", new { @class = "form-control", required = "" })


                            </div>
                        </div>

                       

                        <div class="form-group">
                            <label class="control-label col-lg-4" style="font-style:oblique;">Contrat assurance </label>
                            <div class="col-lg-6">

                                @Html.DropDownListFor(model => model.Id_contrat_assurance, (SelectList)ViewData["assurance"], "--Choisir--", new { @class = "form-control", required = "" })


                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-lg-4" style="font-style:oblique;">Contrat maintenance </label>
                            <div class="col-lg-6">

                                @Html.DropDownListFor(model => model.Id_contrat_maintenance, (SelectList)ViewData["maintenance"], "--Choisir--", new { @class = "form-control", required = "" })


                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-lg-4" style="font-style:oblique;">Num facture</label>
                            <div class="col-lg-6">

                                @Html.DropDownListFor(model => model.Id_achat, (SelectList)ViewData["achat"], "--Choisir--", new { @class = "form-control", required = "" })


                            </div>
                        </div>
                    </div>
                        <div style="text-align: center;">
                            <input type="submit" value="Valider" class="btn btn-default" />

                            <button type="reset" class="btn btn-white">Annuler</button>

                        </div>

                }


            </div>

            <div>
                @Html.ActionLink("List", "GetVehicule")
            </div>

        </div>
    </div>
</div>
</div>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Enregistrement Avec Succée </h4>
            </div>
            <div class="modal-body">
                <p>Voulez Vous Ajouter une Autre ?<p>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-default">Oui</button>
                <button type="button" class="btn btn-white" data-dismiss="modal" onClick="document.location='~/Gestion/GetVehicule'">Non</button>

            </div>
        </div>
    </div>
</div>
