@model Domain.Etage

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-title">
                Modification étage
            </div>
            <div class="panel-body">



                <div class="panel panel-default">

                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()

                        <div class="form-horizontal">
                            <h4>Étage</h4>
                            <hr />
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            @Html.HiddenFor(model => model.idDelegation)

                            @Html.HiddenFor(model => model.idBatiment)

                            @Html.HiddenFor(model => model.Id_etage)

                           
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            @*<div class="form-group">
                                    <label class="control-label col-lg-4" style="font-style:oblique;">Gouvernerat </label>
                                    <div class="col-lg-6">
                                        @Html.DropDownListFor(model => model.Batiment.idGouvernorat, (SelectList)ViewData["gouv"], "--Choisir--", new { @class = "form-control", required = "" })
                                    </div>
                                </div>*@
                            <div class="form-group">
                                <label class="control-label col-lg-4">Ville</label>
                                <div class="col-lg-6">
                                    @Html.TextBoxFor(model => model.Batiment.Delegation.libelle, new { @class = "form-control", required = "", disabled = "disabled" })
                                    @Html.ValidationMessageFor(model => model.idDelegation, String.Empty, new { @class = "test" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-lg-4">Batiment</label>
                                <div class="col-lg-6">
                                    @Html.TextBoxFor(model => model.Batiment.description, new { @class = "form-control", disabled = "disabled" })
                                    @Html.ValidationMessageFor(model => model.idBatiment, String.Empty, new { @class = "test" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-lg-4">Code à barres </label>
                                <div class="col-lg-6">
                                    @Html.TextBoxFor(model => model.code_a_barre, new { @class = "form-control", required = "", @readonly = "readonly" })
                                    @Html.ValidationMessageFor(model => model.code_a_barre, String.Empty, new { @class = "test" })
                                </div>
                            </div>


                            <div class="form-group">
                                <label class="control-label col-lg-4">Code étage</label>
                                <div class="col-lg-6">
                                    @Html.EditorFor(model => model.code, new { htmlAttributes = new { @class = "form-control", required = "" } })
                                    @Html.ValidationMessageFor(model => model.code, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-lg-4">Description</label>
                                <div class="col-lg-6">

                                    @Html.EditorFor(model => model.description, new { htmlAttributes = new { @class = "form-control", required = "" } })
                                    @Html.ValidationMessageFor(model => model.description, "", new { @class = "text-danger" })


                                </div>
                            </div>

                        </div>
                        <div style="text-align: center;">
                            <input type="submit" value="Valider" class="btn btn-default" />

                            <button type="reset" class="btn btn-white">@Html.ActionLink("Annuler", "GetEtage")</button>

                        </div>

                    }

                    <div>
                        @Html.ActionLink("Afficher la liste des étages", "GetEtage")
                    </div>

                </div>
            </div>
        </div>
    </div>

</div>
