@model IEnumerable<Domain.Bien>



    <div class="row">
        <!-- Start Panel -->
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-title">
                    Liste des Biens
                </div>
       
                <div class="panel panel-default">
                    <div class="panel-body table-responsive">
                        <table id="example0" class="table display">
                            <thead>
                                <tr>
                                    <th>Code à barres</th>
                                    <th>Délégation </th>
                                    <th>Batiment </th>

                                    <th>Étage</th>

                                    <th>Desigantion </th>

                                    <th>Catégorie</th>
                                    
                                    <th>Mode</th>
                                    <th>État</th>
                                  
                                    <th>Action</th>


                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr class="odd gradeX">
                                        <td>@item.Code_a_barre</td>
                                        <td>@item.Etage.Batiment.Delegation.libelle</td>
                                        <td>@item.Etage.Batiment.description</td>

                                        <td>@item.Etage.description</td>


                                        <td>@item.Designation</td>
                                        <th>@item.Categorie.Description</th>

                                        
                                        <td>@item.Mode</td>
                                        <td>@item.Etat</td>


                                        <td>
@if (@Session["Role"].ToString() == "ADMIN")
{
                                            <a href="@Url.Action("DetailsBien", new { id = item.Id_bien })">&nbsp;&nbsp;<i class="fa fa-folder-open" title="Details"></i></a>

} </td>
                                    </tr>
                          

                                    }
                                    </tbody>
</table>

                        <br /><p>





                        </p>
                        <br /><p>
@if (@Session["Role"].ToString() == "ADMIN")
{
                            @Html.ActionLink("Ajouter un nouveau Bien", "CreateBien")

}
                        </p>

                    </div>
                </div>
            </div>


        </div>
    </div>
    <script>
    $(document).tooltip();
    </script>