@model IEnumerable<Domain.Batiment>

<div class="row">
    <!-- Start Panel -->
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-title">
                Liste des Bâtiments
            </div>
            <div class="panel-body table-responsive">
                <table id="example0" class="table display">
                    <thead>
                        <tr>
                            <th>Code à barres</th>
                            <th>Désignation</th>
                            
                            <th>Adresse</th>
                            <th>Code postal</th>
                            <th>Organisation</th>
                            <th>Délégation </th>
                           
                            <th>Région </th>
                           
                            <th>Action</th>
                        </tr>
                    </thead>

                  

                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td class="center">@item.code_a_barre</td>
                                <td class="center">@item.description</td>
                               
                                <td class="center">@item.code</td>
                                <td class="center">@item.Delegation.Code_postal</td>
                                <td class="center">@item.Organisation.libelle</td>
                                <td class="center">@item.Delegation.libelle</td>
                                <td class="center">@item.Delegation.Gouvernorat.Region.libelle</td>
                               
                                <td>
@if (@Session["Role"].ToString() == "ADMIN")
{

                                    <a href="@Url.Action("EditBatiment", new { id = item.idBatiment })">&nbsp;<i class="fa fa-edit" title="Modifer"></i></a>
                                    <a href="@Url.Action("DeleteBatiment", new { id = item.idBatiment })">&nbsp;<i class="fa fa-delete" title="Supprimer"></i></a>

} </td>

                            </tr>


                        }
                    </tbody>
                </table>
                <br /><p>
@if (@Session["Role"].ToString() == "ADMIN")
{
                    @Html.ActionLink("Ajouter un nouveau bâtiment", "CreateBatiment")
}
                </p>

            </div>
        </div>
    </div>


</div>





<script>
    $(document).tooltip();
</script>