@model IEnumerable<Domain.Delegation>


<!-- Start Row -->
<div class="row">
    <!-- Start Panel -->
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-title">
                Liste des Délégations

                <ul class="panel-tools">
                    <li><a class="icon minimise-tool"><i class="fa fa-minus"></i></a></li>
                    <li><a class="icon expand-tool"><i class="fa fa-expand"></i></a></li>
                    <li><a class="icon closed-tool"><i class="fa fa-times"></i></a></li>
                </ul>
            </div>
            <div class="panel-body table-responsive">
                <div style="text-align:center;"><a href="~/Export/ExportDelegation"><span class="icon color7"><i class="fa fa-file-excel-o"></i></span>&nbsp; &nbsp;  Export Vers Fichier Excel</a></div> 
                <table id="example0" class="table display">
                    <thead>
                        <tr>
                            
                            <th>Loclité</th>
                            <th>Code postal</th>
                            <th>Délégation</th>
                           
                            <th>Gouvernorat</th>
                            <th>Region</th>
                            <th>Pays</th>
                            <th>Action</th>
                        </tr>
                    </thead>



                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td class="center">@item.Localité</td>
                                <td class="center">@item.Code_postal</td>
                                <td class="center">@item.libelle</td>
                               
                                <td class="center">@item.Gouvernorat.libelle</td>
                                <td class="center">@item.Gouvernorat.Region.libelle</td>
                                <td class="center">@item.Gouvernorat.Region.Pays.libelle</td>


                                <td>
@if (@Session["Role"].ToString() == "ADMIN")
{

                                    <a href="@Url.Action("EditDelegation", new { id = item.idDelegation })">&nbsp;<i class="fa fa-edit" title="Modifer"></i></a>

}  </td>

                            </tr>


                        }
                    </tbody>
                </table>
                <br /><p>
@if (@Session["Role"].ToString() == "ADMIN")
{
                    @Html.ActionLink("Ajouter une nouvelle Délégation", "CreateDelegation")
}
                </p>

            </div>
        </div>
    </div>


</div>





<script>
    $(document).tooltip();
</script>