@model IEnumerable<Domain.Etage>

@{
    ViewBag.Title = "GetEtage";
}

<div class="row">
    <!-- Start Panel -->
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-title">
                Liste des étages
            </div>
            <div class="panel-body table-responsive">
                <table id="example0" class="table display">
                    <thead>
                        <tr>
                            <th>Code à barres</th>
                            <th>Code étage</th>

                            <th>Description</th>

                            <th>Batiment</th>
                            <th>Ville</th>
                            <th>Région</th>
                            <th>Gouvernorat</th>
                            <th>Pays</th>
                            <th>Action</th>
                        </tr>
                    </thead>

                   

                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td class="center">@item.code_a_barre</td>
                                <td class="center">@item.code</td>
                              

                                <td class="center">@item.description</td>

                                <td class="center">@item.Batiment.description</td>
                                <td class="center">@item.Batiment.Delegation.libelle</td>
                                <td class="center">@item.Batiment.Delegation.Gouvernorat.Region.libelle</td>
                                <td class="center">@item.Batiment.Delegation.Gouvernorat.libelle</td>
                                <td class="center">@item.Batiment.Delegation.Gouvernorat.Region.Pays.libelle</td>


                                <td>
                                    @if (@Session["Role"].ToString() == "ADMIN")
                                    {

                                        <a href="@Url.Action("EditEtage", new { id = item.Id_etage })">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-edit" title="Modifer"></i></a>
                                    }
                                </td>

                            </tr>


                        }
                    </tbody>
                </table>
                <br /><p>
                    @if (@Session["Role"].ToString() == "ADMIN")
                    {
                        @Html.ActionLink("Ajouter un nouveau étage", "CreateEtage")
                    }
                </p>

            </div>
        </div>
    </div>


</div>





<script>
    $(document).tooltip();
</script>