@model IEnumerable<Domain.Organisation>

<!-- Start Row -->
<div class="row">
    <!-- Start Panel -->
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-title">
                Liste des sociétés
            </div>
            <div class="panel-body table-responsive">
                <table id="example0" class="table display">
                    <thead>
                        <tr>
                            <th>Nom</th>
                            <th>Description</th>
                            <th>Adresse</th>
                            <th>Tél</th>
                            <th>Fax</th>
                            <th>Matricule fiscale</th>
                            <th>Logo</th>
                            <th>Action</th>
                        </tr>
                    </thead>



                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>

                                <td class="center">@item.libelle</td>
                                <td class="center">@item.description</td>
                                <td class="center">@item.adresse</td>
                                <td class="center">@item.tel</td>
                                <td class="center">@item.fax</td>
                                <td class="center">@item.Matricule_fiscale</td>
                                &nbsp; &nbsp; <td class="center">@item.logo</td>
                               




                                <td>
@if (@Session["Role"].ToString() == "ADMIN")
{
                                    <a href="@Url.Action("EditOrganisation", new { id = item.idOrganisation })">&nbsp;<i class="fa fa-edit" title="Modifer"></i></a>

}     </td>

                            </tr>


                        }
                    </tbody>
                </table>
                <br /><p>
@if (@Session["Role"].ToString() == "ADMIN")
{
                    @Html.ActionLink("Ajouter une nouvelle société", "CreateOrganisation")
}
                </p>

            </div>
        </div>
    </div>


</div>