@model IEnumerable<Domain.Organisation>

<!-- Start Row -->
<div class="row">
    <!-- Start Panel -->
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-title">
                Liste des sociétés

                <ul class="panel-tools">
                    <li><a class="icon minimise-tool"><i class="fa fa-minus"></i></a></li>
                    <li><a class="icon expand-tool"><i class="fa fa-expand"></i></a></li>
                    <li><a class="icon closed-tool"><i class="fa fa-times"></i></a></li>
                </ul>
            </div>
            <div class="panel-body table-responsive">
                <div style="text-align:center;"><a href="~/Export/ExportOrganisation"><span class="icon color7"><i class="fa fa-file-excel-o"></i></span>&nbsp; &nbsp;  Export Vers Fichier Excel</a></div> 
                <table id="example0" class="table display">
                    <thead>
                        <tr>
                            <th>Nom</th>
                            <th>Matricule fiscale</th>
                            <th>N° RC</th>
                            <th>Email</th>
                            <th>Tél</th>
                            <th>Fax</th>
                            <th>Site Web</th>
                            <th>Adresse</th>
                            <th>Localité</th>
                            <th>Code Postale</th>
                            <th>Ville</th>
                            <th>Gouvernerat</th>
                            <th>Pays</th>
                            <th>Logo</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>

                                <td class="center">@item.libelle</td>
                                <td class="center">@item.Matricule_fiscale</td>
                                <td class="center">@item.Registre_de_commerce</td>
                                <td class="center">@item.Email</td>
                                <td class="center">@item.tel</td>
                                <td class="center">@item.fax</td>
                                <td class="center">@item.Site_web</td>
                                <td class="center">@item.adresse</td>
                                <td class="center">@item.localié</td>
                                <td class="center">@item.description</td>
                                <td class="center">@item.ville</td>
                                <td class="center">@item.gouvernorat</td>
                                <td class="center">@item.pays</td>

                                <td><img src="/Gestion/RetrieveImage/@item.idOrganisation" alt="" height=100 width=200 /></td>

                                <td>
                                    @if (@Session["Role"].ToString() == "ADMIN")
                                    {
                                        <a href="@Url.Action("EditOrganisation", new { id = item.idOrganisation })">&nbsp;<i class="fa fa-edit" title="Modifer"></i></a>

                                    }
                                </td>

                            </tr>


                        }
                    </tbody>
                </table>
                <br /><p>
                    @if (@Session["Role"].ToString() == "ADMIN")
                    {
                        @Html.ActionLink("Ajouter une nouvelle société", "CreateOrganisation")
                    }
                </p>

            </div>
        </div>
    </div>


</div>