@model IEnumerable<Domain.Pays>

<!-- Start Row -->
<div class="row">
    <!-- Start Panel -->
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-title">
                Liste des Pays
            </div>
            <div class="panel-body table-responsive">
                <table id="example0" class="table display">
                    <thead>
                        <tr>
                            
                            <th>Pays</th>
                            <th>Action</th>
                        </tr>
                    </thead>



                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>

                                <td class="center">@item.libelle</td>
                                


                                <td>
@if (@Session["Role"].ToString() == "ADMIN")
{
                                    <a href="@Url.Action("editPays", new { id = item.idPays })">&nbsp;<i class="fa fa-edit" title="Modifer"></i></a>
                                    
} </td>

                            </tr>


                        }
                    </tbody>
                </table>
                <br /><p>
@if (@Session["Role"].ToString() == "ADMIN")
{
                    @Html.ActionLink("Ajouter un nouveau pays", "CreatePays")
}
                </p>

            </div>
        </div>
    </div>


</div>