@model IEnumerable<Domain.Vehicule>

<!-- Start Row -->
<div class="row">
    <!-- Start Panel -->
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-title">
                Liste des Vehicules

                <ul class="panel-tools">
                    <li><a class="icon minimise-tool"><i class="fa fa-minus"></i></a></li>
                    <li><a class="icon expand-tool"><i class="fa fa-expand"></i></a></li>
                    <li><a class="icon closed-tool"><i class="fa fa-times"></i></a></li>
                </ul>
            </div>
            <div class="panel-body table-responsive">
                <div style="text-align:center;"><a href="~/Export/ExportVehicule"><span class="icon color7"><i class="fa fa-file-excel-o"></i></span>&nbsp; &nbsp;  Export Vers Fichier Excel</a></div> 
                <table id="example0" class="table display">
                    <thead>
                        <tr>
                            <th>Matricule</th>
                            <th>Modèle</th>
                            <th>Désignation</th>
                            <th>N° châssis</th>
                            
                            <th>Parc</th>
                            <th>Batiment</th>

                            @*<th>Fournisseur</th>
                            <th>Contrat garanti</th>
                            <th>Societe assurance</th>
                            <th>Contrat assurance</th>
                            <th>Societe maintenance</th>
                            <th>Contrat maintenance</th>*@
                            <th>Année achat</th>
                            <th>Prix achat</th>
                            <th>Action</th>
                        </tr>
                    </thead>



                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>

                                <td class="center">@item.Matricule</td>
                                <td class="center">@item.Modele</td>
                                <td class="center">@item.Etat</td>
                                <td class="center">@item.Num_chassis </td>
                                <td class="center">@item.Parc_auto.Libelle </td>
                                <td class="center">@item.Parc_auto.Batiment.description</td>

                                @*<td class="center">@item.Contrat_garanti.Fournisseur.Nom</td>
                                <td class="center">@item.Contrat_garanti.Type_garanti</td>
                                    <td class="center"> @item.Contrat_maintenance.Societe_maintenance.Libelle</td>
                                    <td class="center"> @item.Contrat_maintenance.Type_maintenance</td>
                                    <td class="center">@item.Contrat_assurance.Societe_assurance.Libelle </td>
                                    <td class="center">@item.Contrat_assurance.Type_assurance </td>*@
                                <td class="center">@item.Annee_achat</td>
                                    <td class="center">@item.Prix_d_achat</td>



                                <td>

                                    <a href="@Url.Action("EditVehicule", new { id = item.Id_Vehicule })">&nbsp;<i class="fa fa-edit" title="Modifer"></i></a>

                                </td>

                            </tr>


                        }
                    </tbody>
                </table>

                <br /><p>
@if (@Session["Role"].ToString() == "ADMIN")
{
                    @Html.ActionLink("Ajouter une nouvelle véhicule", "CreateVehicule")
}
                </p>

            </div>
        </div>
    </div>
</div>




