@model IEnumerable<Domain.Vehicule>

<!-- Start Row -->
<div class="row">
    <!-- Start Panel -->
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-title">
                Liste des Vehicules
            </div>
            <div class="panel-body table-responsive">
                <table id="example0" class="table display">
                    <thead>
                        <tr>
                            <th>Matricule</th>
                            <th>Modele</th>
                            <th>Etat</th>
                            <th>Num Sachet</th>
                            <th>Parc</th>
                            <th>Batiment</th>
                           
                            <th>Fournisseur</th>
                            <th>Contrat garanti</th>
                            <th>Societe assurance</th>
                            <th>Contrat assurance</th>
                            <th>Societe maintenance</th>
                            <th>Contrat maintenance</th>
                            <th>Prix achat</th>
                            <th>Action</th>
                        </tr>
                    </thead>



                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>

                                <td class="center">@item.Matricule</td>
                                <td class="center">@item.Modele</td>
                                <td class="center">@item.Etat</td>
                                <td class="center">@item.Num_sachet </td>
                                <td class="center">@item.Parc_auto.Libelle</td>
                                <td class="center">@item.Parc_auto.Batiment.description</td>
                               
                                <td class="center">@item.Contrat_garanti.Fournisseur.Nom</td>
                                <td class="center">@item.Contrat_garanti.Type_garanti</td>
                                <td class="center"> @item.Contrat_maintenance.Societe_maintenance.Libelle</td>
                                <td class="center"> @item.Contrat_maintenance.Type_maintenance</td>
                                <td class="center">@item.Contrat_assurance.Societe_assurance.Libelle </td>
                                <td class="center">@item.Contrat_assurance.Type_assurance </td>
                                <td class="center">@item.Prix_d_achat</td>
                                


                                <td>

                                    <a href="@Url.Action("Edit", new { id = item.Id_Vehicule })">&nbsp;<i class="fa fa-edit" title="Modifer"></i></a>
                                  
                                </td>

                            </tr>


                        }
                    </tbody>
                </table>
                
                <br /><p>
                    @Html.ActionLink("Ajouter une nouvelle véhicule", "CreateVehicule")
                </p>

            </div>
      </div></div></div>




