@model Domain.Personnel
    @{

List<string> listService = new List<string>();
}

<link type="text/css" href="../../Content/Site.css" rel="stylesheet" />
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>
<script language="javascript" type="text/javascript">

    function getService(_stateId) {
            var procemessage = "<option value='0'>Encours...</option>";
            $("#ddlcity").html(procemessage).show();
            var url = "/Personnel/getSeviceByDirection/";

            $.ajax({
                url: url,
                data: { stateid: _stateId },
                cache: false,
                type: "POST",
                success: function (data) {
                    var markup = "<option value='0'>--Choisir--</option>";
                    for (var x = 0; x < data.length; x++) {
                        markup += "<option value=" + data[x].Value + ">" + data[x].Text + "</option>";
                    }
                    $("#ddlcity").html(markup).show();
                },
                error: function (reponse) {
                    alert("error : " + reponse);
                }
            });

        }

    function GetBatT(_delegId) {

        var url = "/Personnel/OpenPopupPersonnel/";

        $.ajax({
            url: url,
            data: { delegid: _delegId },
            cache: false,
            type: "POST",
            success: function (data) {

                if (data != "") {
                    alert(data)
                }


            },
            error: function (reponse) {
                alert("error : " + reponse);
            }
        });

    }
</script>
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-title">

            </div>
            <div class="panel-body">



                <div class="panel panel-default">




                    @using (@Html.BeginForm("CreatePersonnel", "Personnel", FormMethod.Post,
new { @id = "frmId", @class = "fieldset-form" }))
                    {
                        <h4>Personnel</h4>
                        <hr />
                        <div class="form-horizontal">
                            <fieldset>

                                <legend>  Ajout personnel</legend>

                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })


                                <div class="form-group">
                                    <label class="control-label col-lg-4" style="font-style:oblique;">Nom </label>
                                    <div class="col-lg-6">

                                        @Html.EditorFor(model => model.nom, new { @class = "form-control", required = "True" })
                                        @Html.ValidationMessageFor(model => model.nom, String.Empty, new { @class = "test" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-lg-4" style="font-style:oblique;">Prénom </label>
                                    <div class="col-lg-6">

                                        @Html.EditorFor(model => model.prenom, new { @class = "form-control", required = "True" })
                                        @Html.ValidationMessageFor(model => model.prenom, String.Empty, new { @class = "test" })
                                    </div>
                                </div>
                                @*kkk*@
                                <div class="form-group">
                                    <label class="control-label col-lg-4" style="font-style:oblique;">Matricule </label>
                                    <div class="col-lg-6">

                                        @Html.EditorFor(model => model.Matricule, new { htmlAttributes = new { @id = "btnpopu", @class = "form-control", @onchange = "javascript:GetBatT(this.value)" } })
                                        @Html.ValidationMessageFor(model => model.Matricule, String.Empty, new { @class = "test" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-lg-4" style="font-style:oblique;">CIN </label>
                                    <div class="col-lg-6">

                                        @Html.EditorFor(model => model.CIN, new { @class = "form-control", required = "True" })
                                        @Html.ValidationMessageFor(model => model.CIN, String.Empty, new { @class = "test" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-lg-4" style="font-style:oblique;">Date de naissance </label>
                                    <div class="col-lg-6">

                                        @Html.EditorFor(model => model.Date_anniv, new { @class = "form-control", required = "True" })
                                        @Html.ValidationMessageFor(model => model.Date_anniv, String.Empty, new { @class = "test" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-lg-4" style="font-style:oblique;">Tél </label>
                                    <div class="col-lg-6">

                                        @Html.EditorFor(model => model.Num_tel, new { @class = "form-control", required = "True" })
                                        @Html.ValidationMessageFor(model => model.Num_tel, String.Empty, new { @class = "test" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-lg-4" style="font-style:oblique;">Email </label>
                                    <div class="col-lg-6">

                                        @Html.EditorFor(model => model.Email, new { @class = "form-control", required = "True" })
                                        @Html.ValidationMessageFor(model => model.Email, String.Empty, new { @class = "test" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-lg-4" style="font-style:oblique;">Rôle </label>
                                    <div class="col-lg-6">

                                        @Html.DropDownListFor(model => model.Rol_id, (SelectList)ViewData["role"], "--Choisir--", new { @class = "form-control", required = "" })


                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-lg-4" style="font-style:oblique;">Direction </label>
                                    <div class="col-lg-6">

                                        @Html.DropDownListFor(model => model.Id_direction, (SelectList)ViewData["direction"], "--Choisir--", new { @class = "form-control", required = "" , @onchange = "javascript:getService(this.value);" })

                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-lg-4" style="font-style:oblique;">Service </label>
                                    <div class="col-lg-6">

                                        @Html.DropDownListFor(model => model.Id_service, new SelectList(listService), "--Choisir--", new { @id = "ddlcity", @class = "form-control", required = "" })

                                    </div>
                                </div>
                              

                                </fieldset>
</div>
                        <br>
                        <div style="text-align: center;">
                            <input type="submit" value="Valider" class="btn btn-default" />

                            <button type="reset" class="btn btn-white">@Html.ActionLink("Annuler", "GetPersonnel")</button>

                        </div>

                    }


                </div>


                <div>
                    @Html.ActionLink("List du personnel", "GetPersonnel")
                </div>

            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Enregistrement Avec Succée </h4>
            </div>
            <div class="modal-body">
                <p>Voulez Vous Ajouter une Autre ?<p>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-default">Oui</button>
                <button type="button" class="btn btn-white" data-dismiss="modal" onClick="document.location='~/Admin/GetDirection'">Non</button>

            </div>
        </div>
    </div>
</div>
