@model Domain.Contrat_assurance


<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-title">

                <h4 class="title" color="#58666e" font-weight="bold"> Ajout Contrat Assurance</h4>
                <ol class="breadcrumb"></ol>


                <div class="panel-body">
                    <!-- Start Modal Code -->
                    <!-- End Moda Code -->
                </div>
                <ul class="panel-tools">
                    <li><a class="icon minimise-tool"><i class="fa fa-minus"></i></a></li>
                    <li><a class="icon expand-tool"><i class="fa fa-expand"></i></a></li>
                    <li><a class="icon closed-tool"><i class="fa fa-times"></i></a></li>
                </ul>
            </div>
            <div class="panel-body">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <div class="form-horizontal">
                        <h4>Contrat_assurance</h4>
                        <hr />
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.HiddenFor(model => model.Id_contrat_assurance)
                        <div class="panel panel-default">
                            <fieldset>

                                <legend>Contrat d'Assurance</legend>

                                <div class="form-group">
                                    <div class="col-md-4">
                                        <label class="col-sm-4 control-label form-label">Référence (N° Contrat)</label>

                                        <div class="col-sm-8">

                                            @Html.EditorFor(model => model.Num, new { @class = "form-control", required = "" })

                                        </div>

                                    </div>


                                    <div class="col-md-4">
                                        <label class="col-sm-4 control-label form-label">Societe</label>

                                        <div class="col-sm-8">

                                            @Html.DropDownListFor(model => model.Id_societe_assurance, (SelectList)ViewData["societeass"], "--Choisir--", new { @class = "form-control", required = "" })

                                        </div>

                                    </div>
                                    <div class="col-md-4">
                                        <label class="col-sm-4 control-label form-label"> Type</label>

                                        <div class="col-sm-8">

                                            @{

                                                var listItems = new List<SelectListItem>()
                            {
                                new SelectListItem {Text = "Bon",   Value = "Bon"},
                                new SelectListItem {Text = "Mauvais", Value = "Mauvais"},
                                new SelectListItem {Text = "Moyenne", Value = "Moyenne"},
                                 new SelectListItem {Text = "Trés Bien", Value = "Trés Bien"}


                            };

                                                @Html.DropDownListFor(m => m.Type_assurance, listItems, new { @class = "form-control", required = "" })
                                                @Html.ValidationMessageFor(model => model.Type_assurance, String.Empty, new { @class = "test" })
                                            }


                                        </div>

                                    </div>

                                </div>
                                <div class="form-group">

                                    <br />



                                </div>

                                <div class="form-group">


                                    <div class="col-md-4">
                                        <label class="col-sm-4 control-label form-label">Coût</label>

                                        <div class="col-sm-8">

                                            @Html.EditorFor(model => model.Cout, new { @class = "form-control", required = "" })

                                        </div>

                                    </div>


                                    <div class="col-md-4">
                                        <label class="col-sm-4 control-label form-label">Date Debut </label>

                                        <div class="col-sm-8">
                                            @Html.EditorFor(model => model.Date_debut, new { @class = "form-control", required = "" })


                                        </div>

                                    </div>
                                    <div class="col-md-4">
                                        <label class="col-sm-4 control-label form-label">Date Fin</label>

                                        <div class="col-sm-8">

                                            @Html.EditorFor(model => model.Date_fin, new { @class = "form-control", required = "" })


                                        </div>

                                    </div>

                                </div>





                            </fieldset>

                            <br />
                            <fieldset>

                                <legend>Localisation</legend>

                                <div class="form-group">
                                    <div class="col-md-4">
                                        <label class="col-sm-4 control-label form-label"> Ville</label>

                                        <div class="col-sm-8">
                                            @Html.DropDownListFor(model => model.idDelegation, (SelectList)ViewData["delegations"], "--Choisir--", new { @class = "form-control", required = "" })


                                        </div>

                                    </div>
                                </div>

                            </fieldset>
                            <br>


                            <div style="text-align: center;">

                                <input type="submit" value="Valider" class="btn btn-default" /> &nbsp; &nbsp; &nbsp;
                                <button type="reset" class="btn btn-white">Annuler</button>


                            </div>







                        </div>
                    </div>
                                                }

            </div>

            <p>
                @Html.ActionLink("Liste des contrats d'assurance", "GetContrat_Assurance")
            </p>
        </div>

    </div>

</div>
