@model IEnumerable<Domain.Contrat_maintenance>

    <!-- Start Row -->
    <div class="row">
        <!-- Start Panel -->
        <div class="col-md-12">
            <div class="panel panel-default">
                

                <div class="panel-title">

                     Liste des Contrat de Maintenance
                    <ol class="breadcrumb"></ol>



                    <div class="panel-body">
                        <!-- Start Modal Code -->
                        <!-- End Moda Code -->
                    </div>
                    <ul class="panel-tools">
                        <li><a class="icon minimise-tool"><i class="fa fa-minus"></i></a></li>
                        <li><a class="icon expand-tool"><i class="fa fa-expand"></i></a></li>
                        <li><a class="icon closed-tool"><i class="fa fa-times"></i></a></li>
                    </ul>
                </div>
                <hr />
                <div class="panel-body table-responsive">
                    <table id="example0" class="table display">
                        <thead>
                            <tr>

                                <th>Region</th>

                                <th>Délégation</th>
                                <th>Sociéte</th>
                                <th>Maintenance</th>
                                <th>Date Debut</th>
                                <th>Date Fin</th>
                                <th>Coût</th>
@if (@Session["Role"].ToString() == "ADMIN")
{
                                <th>Action</th>
}
                            </tr>
                        </thead>

                      

                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>

                                    <td class="center">@item.Societe_maintenance.Delegation.Gouvernorat.Region.libelle</td>
                                    <td class="center">@item.Societe_maintenance.Delegation.libelle</td>
                                    <td class="center">@item.Societe_maintenance.Libelle  </td>
                                    <td class="center">@item.Type_maintenance</td>

                                    <td class="center">@item.Date_debut</td>
                                    <td class="center">@item.Date_fin</td>
                                    <td class="center">@item.Cout</td>


                                    <td>
@if (@Session["Role"].ToString() == "ADMIN")
{
                                        <a href="@Url.Action("Edit", new { id = item.Id_contrat_maintenance })">&nbsp;<i class="fa fa-edit" title="Modifer"></i></a>

}     </td>

                                </tr>


                            }
                        </tbody>
                    </table>
                    <br /><p>
@if (@Session["Role"].ToString() == "ADMIN")
{
                        @Html.ActionLink("Ajouter un nouveau Contrat de Maintenance", "CreateContrat_Maintenance")
}
                    </p>

                </div>



            </div>



        </div>
    </div>

    <script>
    $(document).tooltip();
    </script>



