@model IEnumerable<Domain.Societe_assurance>

<!-- Start Row -->
<div class="row">
    <!-- Start Panel -->
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-title">
                Liste des Societes d'Assurance
            </div>
            <div class="panel-body table-responsive">
                <table id="example0" class="table display">
                    <thead>
                        <tr>

                          
                            <th>Societe</th>
                       
                          
                            <th>Adresse</th>
                            <th>Tel</th>
                            <th>Fax</th>
                            <th>Email</th>
@if (@Session["Role"].ToString() == "ADMIN")
{
                            <th>Action</th>
}
                        </tr>
                    </thead>

                  

                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>

                               
                                <td class="center">@item.Libelle </td>
                              
                                <td class="center">@item.Rue</td>
                                <td class="center">@item.Tel</td>
                                <td class="center">@item.Fax</td>
                                <td class="center">@item.Email</td>
                                

                                <td>
@if (@Session["Role"].ToString() == "ADMIN")
{
                                    <a href="@Url.Action("Edit", new { id = item.Id_societe_assurance })">&nbsp;<i class="fa fa-edit" title="Modifer"></i></a>
}
                                </td>

                            </tr>


                        }
                    </tbody>
                </table>
                <br /><p>
@if (@Session["Role"].ToString() == "ADMIN")
{
                    @Html.ActionLink("Ajouter une Societe", "CreateSociete_assurance")
}
                </p>

            </div>



        </div>



    </div>
</div>

<script>
    $(document).tooltip();
</script>



