@model Domain.Inventaire

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-title">
                Ajout Inventaire
            </div>
            <div class="panel-body">



                <div class="panel panel-default">




                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()

                        <div class="form-horizontal">
                            <h4>Inventaire</h4>
                            <hr />
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            @Html.HiddenFor(model => model.Id_inventaire)
                            @Html.HiddenFor(model => model.Date)

                            <div class="form-group">
                                <label class="control-label col-lg-4" style="font-style:oblique;">Nom Inventaire </label>
                                <div class="col-lg-6">

                                    @Html.TextBoxFor(model => model.Nom_, new { @class = "form-control", required = "True" })

                                </div>
                            </div>



                            <div class="form-group">
                                <label class="control-label col-lg-4" style="font-style:oblique;">Type </label>
                                <div class="col-lg-6">
                                    @Html.TextBoxFor(model => model.Type, new { @class = "form-control", required = "True" })
                                </div>
                            </div>


                        
                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    <input type="submit" value="Save" class="btn btn-default" />
                                </div>
                            </div>
                        </div>
                    }


                </div>

                <div>
                    @Html.ActionLink("List", "GetInventaire")
                </div>

            </div>
        </div>
    </div>
</div>